
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

body {
    background: url(/img/3.jpg) no-repeat fixed center ;
    background-size: 100% 100%;

}

h1 {
    text-align: center;
    color: #fa1010;
    margin: 30px;
    font-size: 32px;
    font-weight: 700;
    text-shadow: 1px 1px 3px #5be4d8;
}

.taskqua {
    border-radius: 15px;
    text-align: center;
}

.wrapper {
    max-width: 1000px;
    min-height: 100px;
    margin: 30px auto;
    background-color: rgba(109, 231, 231, 0.5);
    border-radius: 15px;
    padding: 10px;

}

.insert_block {
    margin: 15px;
}

.text_block {
    font-size: 18px;
    font-weight: 600;
    margin: 0 10px;
}

button {
    padding: 10px;
    margin: 10px;
    color: #f10c0c;
    font-weight: 700;
    background:#84f5ef;
    border: transparent;
    border-radius: 15px;
    box-shadow: 1px 1px 4px rgb(145, 57, 228);
}

h3 {
    color:#720560;
    font-weight: 700;
    font-size: 22px;
}

.out_block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.out-1 {
    color: #1908ff;
    font-weight: 700;
    margin: 20px;
}

.avatar {
    align-self:baseline;
    vertical-align: middle;
}

.out-2 {
    color: #f50a1e;
    font-weight: 700;
    margin: 20px;
}